@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&display=swap');

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: "Edu NSW ACT Foundation", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
}

.rainbow {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.square {
  width: 400px;
  height: 400px;
  display: grid;
  place-content: center;
  box-shadow: 2px 2px 5px #365364;
  border: 1px dashed black;
  border-radius: 0.25rem;
  text-align: center;
}

.square p:nth-child(1) {
  text-transform: capitalize;
}

form {
  width: 400px;
}

input[type="text" ] {
  margin-top: 0.5rem;
  padding: 1rem;
  width: 100%;
  font-size: 1.5rem;
  box-shadow: 2px 2px 5px #365364;
  border-radius: 0.25rem;
}

button {
  width: 100%;
  min-height: 48px;
  margin-top: 0.5rem;
  font-size: 2rem;
  box-shadow: 2px 2px 5px #365364;
  border-radius: 0.25rem;
  padding: 0.2rem;
  cursor: pointer;
}